@media screen and (max-width: 640px) {
    
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto Mono', monospace,Arial, Helvetica, sans-serif;
}


html{
    scroll-behavior: smooth;
}
body{
    background-color:#E6EAEE;
}
h2{
    font-size: 2.7em;
}
h3{
    font-size: 1.9em;
}
p {
    font-size: 1.5em;
}
img {
    width: 10%;
}

hr {
    border: 3px solid #C257FF;
    box-shadow: 2px 2px #000000;
    width: 100%;
    
}
input {
    padding: 15px;
    margin: 30px;
    width: 50%;
    border: 1px solid #000000;
    box-shadow: 8px 8px #C257FF;
}

a {    
    text-decoration: none;
}

button,a {
    font-size: 1.5em;
    font-weight: bold;
    color: #C257FF;
    padding: 10px 20px;
    border-radius: 10px;
    border: 1px solid #000000;
    box-shadow: 2px 2px #C257FF;
    background-color: #F2F3F4;
}

button:hover{
    background-color: #C257FF;
    color: #F0EFE9;
}
a:hover{
    background-color: #C257FF;
    color: #F0EFE9;
}

.contenedor {
    max-width: 1400px;
    margin: auto;
}

header {
    background-color:#DFEFFE;
}

.logo {
    margin: 0;
    padding: 10px 6px;
    width: 35%;
}

header .contenedor{
    display: flex;
    flex-direction: column;
    align-items: center;
}

header nav {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 25px;
}

header a{
    padding: 5px 10px;
}

#hero {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    text-align: center;
    flex-direction: column;

    gap: 80px;
}

#hero .carta {
    padding: 5px;
    margin: 25px 9px;
    gap: 50px;
    border-radius: 15px;
    box-shadow: 0 3px 5px 3px #000000 ;
}
#hero div{
    margin: 30px 0;
}

#hero .texto {
    margin: 15px 0;
}
.perfil {
    width: 50%;
    border-radius: 100%;
}


#proyectos {
    background-color: #A9CCE3;
    text-align: center;
}

#proyectos .contenedor{
    padding: 10px 12px;
}

#proyectos .imagen-proyect{
    width: 95%;
}

#proyectos h2 {
    margin-top: 0;
}

#proyectos .carta {
    display: flex;
    flex-direction: column;
    padding: 50px;
    margin: 20px 0;
    gap: 50px;
    border-radius: 15px;
    box-shadow: 0 3px 5px 3px #000000 ;
}

#habilidades {
    background-color: #7595B6;
    text-align: center;
}

#habilidades .contenedor {
    display: flex;
    flex-direction: column;
    padding: 50px 15px;
}

#habilidades .carta {
    display: flex;
    flex-direction: column;
    padding: 25px 0;
    gap: 20px;
    margin: 20px 0;
    box-shadow: 0 3px 5px 3px #000000;
    border-radius: 15px;
}

#habilidades .carta img{
    width: 15%;
}

footer{
    display: flex;
    flex-direction: column;
    margin: 30px 0;
    padding: 25px 0;
    text-align: center;
    gap: 80px;
}

footer label {
    font-size: 1.2em;
}


.svg {
    width: 5%;
    
}

.copyright {
    margin: 25px;
    text-align: end;
    font-size: 1rem;
}

.irarriba{
    position: fixed;
    bottom: 25px;
    right: 15px;
    width: 55px;

}

.ispc {
    width: 25%;
    border-radius: 100%;
}

/*Titulos animados*/

.titulo {
    top: 50px;
    height: 20vh;
    position: relative;
    text-align: center;
    animation: movimiento 3s ease-in-out infinite;
    font-family: 'Russo One', sans-serif;
}

@keyframes movimiento {
    0% {
       font-size: 2.7rem;

   }
   50%{
       font-size: 3.2rem;
   }

}


 /* animacion de carrusel */
 
 .slider {
    width: 95%;
    margin: auto;
    overflow: hidden;
   }
   
   .slider ul {
       padding: 0;
       display: flex;
       animation: cambio 10s infinite alternate;
       animation-timing-function: ease-in;
       width: 200%;
}

.slider li {
    width: 100%;
    list-style: none;
}



@keyframes cambio {
    0% {margin-left: 0;}
    100%{margin-left: -100%;}

}

}